<div class="body">
  <div class="navigator">
    <button mat-button routerLink="./fhome"  routerLinkActive="active">Home</button>
    <button mat-button routerLink="./myteam"  routerLinkActive="active">My Team</button>
    <button mat-button routerLink="./points" routerLinkActive="active">Points</button>
    <button mat-button routerLink="./fixtures" routerLinkActive="active">Fixtures</button>
    <button mat-button routerLink="./players" routerLinkActive="active">Players</button>
    <button mat-button routerLink="./teams" routerLinkActive="active" >Teams</button>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
