button{
    color: white;
    font-family:"Rift";
    font-size: 22px;
    padding: 5px 0px;
    background-color: rgba(240, 171, 46, .9);
  }

  mat-dialog-content{
    height: 50px;
    font-family:"Rift";
    font-size: 22px;
  }