@import url(../home/home.component.scss);

.tournaments {
  width: 100%;
}

button{
  padding: 20px;
  background-color:rgba(240, 171, 46, .9);
  color: white;
  font-family: 'Rift';
  font-size: 24px;
}
