<div class="body">
  <div class="slideshow">
    <img src="assets/images/tourback.png" alt="" style="float: right;">
  </div>

  <div class="flex-container" style="margin-top: 30px;">
    <div class="tournaments left">
      <h2 style="font-size:36px; margin-bottom:30px;font-weight: 700;" class="underline">Available Tournaments</h2>

      <section>
        <mat-card class="tournament-card" *ngFor="let tournament of tournaments">
          <section class="info left">
            <img mat-card-sm-image [src]="tournament.image">
            <section style="margin-left: 20px;">
              <h1 style="font-size: 32px;">
                {{tournament.tournamentName}}
              </h1>
              <section style="display: flex;">
                <p><i class="bi bi-award"></i>Tier {{tournament.tier}}</p>
                <p class="detail"><i class="bi bi-coin"></i>$ {{tournament.prizePool}}</p>
                <p class="detail"><i class="bi bi-geo-alt"></i>{{tournament.region}}</p>
              </section>
            </section>
          </section>

          <section class="details">
            <a style="padding: 20px;" [routerLink]="['/view-tour',tournament.tournamentId]">DETAILS <i class="bi bi-caret-right-fill"></i></a>
          </section>
        </mat-card>
      </section>
    </div>

    <div class="news right">
      <h2 style="font-size:36px; margin-bottom:30px; font-weight: 700;" class="underline">News</h2>
      <section>
        <mat-card *ngFor="let news of news | slice:0:5" class="news-template" (click)="browseNews(news.id)">
          <img mat-card-image [src]="news.image">
          <h2 style="font-size: 32px; font-weight:500;">
            {{news.heading}}
          </h2>
          <p style="color: gray;font-family:Rift;">
            {{news.content}}
          </p>

          <mat-divider style="background:gray;"></mat-divider>

          <section style="margin-top:30px;">
            <p><i class="bi bi-chat"></i>0 <span style="float: right;">20th Jan 2022</span></p>
          </section>
        </mat-card>
      </section>
    </div>
  </div>
</div>
