<div class="main" style="padding: 50px 100px;">
    <h2 style="font-size: 36px; font-weight: 700;" class="underline"> About Tournament</h2>

    <div class="form-box">
    <div class="intro">
        <h1 class="title"> 
            <img mat-card-sm-image [src]="imagefile">
            {{tournament.tournamentName}} </h1>
        <img src="assets/images/tourback.png" alt="">
    </div>

    <div class="more">
        <h2 style="font-size: 36px; font-weight: 700;" class="underline"> More Details</h2>
        <mat-card>
            <h2 style="color: #5ac0ec; font-size: 28px;">ID : <span style="color: rgba(240, 171, 46, .9);"> {{tournament.tournamentId}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">Name : <span style="color: rgba(240, 171, 46, .9);"> {{tournament.tournamentName}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">Region : <span style="color: rgba(240, 171, 46, .9);"> {{tournament.region}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">Start Date : <span style="color: rgba(240, 171, 46, .9);"> {{tournament.startDate | date:'dd MMM yyyy'}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">End Date : <span style="color: rgba(240, 171, 46, .9);"> {{tournament.endDate | date:'dd MMM yyyy'}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">Tier : <span style="color: rgba(240, 171, 46, .9);"> {{tournament.tier}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">Prize Pool : <span style="color: rgba(240, 171, 46, .9);"> $ {{tournament.prizePool}}</span> </h2>
        </mat-card>
    </div>

    <h2 style="font-size: 36px; font-weight: 700; margin-top: 50px;" class="underline"> Teams</h2>
    <div class="teams">
        <mat-card class="team-card" *ngFor="let team of teams">
            <img mat-card-lg-image [src]="team.image" alt="">
            <h2 style="color: #5ac0ec; font-size: 28px;">Name : <span style="color: rgba(240, 171, 46, .9);"> {{team.teamName}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">Region : <span style="color: rgba(240, 171, 46, .9);"> {{team.region}}</span> </h2>
            <h2 style="color: #5ac0ec; font-size: 28px;">Country : <span style="color: rgba(240, 171, 46, .9);"> {{team.country}}</span> </h2> 
            
        </mat-card>
    </div>
    </div>
</div>